@import '../../index.scss';

.title {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  display: flex;
  justify-content: center;
}

@media (max-width:700px) {
  .title {
    margin-bottom: 30px !important;
    h1 {
      font-size: 25px !important;
    }
  }
}
