@import '../../index.scss';

.title {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
  display: flex;
  justify-content: center;
}

@media (max-width:700px) {
  .title {
    margin-bottom: 30px !important;
    h1 {
      font-size: 25px !important;
    }
  }
}

@media(max-width: 550px) {
  .title {
    h1 {
      font-size: 23px !important;
    }
  }
}

@media(max-width: 500px) {
  .title {
    h1 {
      font-size: 20px !important;
    }
  }
}

@media(max-width: 375px) {
  .title {
    margin-bottom: 15px !important;
    h1 {
      font-size: 18px !important;
    }
  }
}

@media(max-width: 320px) {
  .title {
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    h1 {
      font-size: 15px !important;
    }
  }
}
