@import '../../index.scss';
.content {
  margin-top: -10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  .content-container {
    width: 90%;
    height: 90%;
    background-color: rgba(229, 229, 229, 0.15);
    border-radius: 30px;
    .content-bg {
      position: absolute;
      width: 63%;
      height: 91%;
      border-radius: 30px;
      background-color: red;
      opacity: 15%;
      z-index: -1;
    }
  }
}

// MOBILE VERSION
@media (max-width: 960px) {
  .content {
    height: 100%;
    .content-container {
      .content-bg {
        width: 90%;
        height: 57%;
     }
    }
  }
}

@media (max-width: 700px) {
  .content {
    height: 100%;
    .content-container {
      .content-bg {
        width: 90%;
        height: 59.5%;
     }
    }
  }
}

@media (max-width: 630px) {
  .content {
    height: 100%;
    .content-container {
      .content-bg {
        width: 90%;
        height: 61.8%;
     }
    }
  }
}

@media (max-width: 550px) {
  .content {
    height: 100%;
    .content-container {
      .content-bg {
        width: 90%;
        height: 65%;
     }
    }
  }
}

@media (max-width: 450px) {
  .content {
    height: 100%;
    .content-container {
      .content-bg {
        width: 90%;
        height: 67%;
     }
    }
  }
}
