@import '../../index.scss';

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 300px;
  #design{
    .icon-container {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  .skill-type-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .skill-title {
      margin-bottom: 40% !important;
    }
    .icon-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      row-gap: 20px;
      color: $grey;
      i {
        font-size: 80px;
      }
    }
  }
}

@media (max-width:1200px) {
  .skills-container {
    .skill-type-content{
      .icon-container{
        i{
          font-size: 70px;
        }
      }
    }
  }
}


@media (max-width:1020px) {
  .skills-container {
    .skill-type-content{
      .icon-container{
        i{
          font-size: 60px;
        }
      }
    }
  }
}

@media (max-width:770px) {
  .skills-container {
    .skill-type-content{
      .skill-title{
        font-size: 15px;
      }
      .icon-container{
        i{
          font-size: 60px;
        }
      }
    }
  }
}

@media (max-width:550px) {
  .skills-container {
    .skill-type-content{
      .skill-title {
        font-size: 10px;
      }
      .icon-container{
        i{
          font-size: 40px;
        }
      }
    }
  }
}
