@import '../../index.scss';

.projects-container {
  margin-left: 80px !important;
  margin-right: 80px !important;
  height: 80%;
  display: grid;
  grid-template-columns: 30% 70%;
  .project-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
