@import '../../index.scss';

.nav-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 50% 50%;
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .name-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
      margin-top: 20px !important;
      font-size: 35px;
      }
      .dev-cont {
        display: flex;
        flex-direction: column;
        h3 {
        margin-top: 10px !important;
        font-size: 20px;
        }
      }
    }
    .avatar {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 1px dashed $grey;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        opacity: 90%;
      }
    }
  }
  .links {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    .social {
      position: absolute;
      left: 60px;
      bottom: 78px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .svg-inline--fa{
        width: 50px;
        height: 50px;
        margin-top: 30px !important;
        color: $grey;
          &:hover{
            color: $purple;
        }
      }
      .fa-martini-glass-citrus{
    color: white;
  }
}
    .link-navegator {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .nav-button {
        height: 4rem !important;
        width: 100% !important;
        background-color: transparent;
        border: none;
        cursor: pointer;

      }
      span {
        color: $grey;
        font-family: $bruno;
        font-size: 30px;
          &:hover {
            border-radius: 30px;
            background: radial-gradient(circle, rgba(215,166,255,0.3) 0%, rgba(229,229,229,0.1) 100%);
            padding: 20px !important;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .profile-container{
    .name-container{
      margin-bottom: 15px !important;
      h1 {
        font-size: 23px !important;
      }
      .dev-cont {
        h3 {
          font-size: 15px !important;
        }
      }
    }

  }
  .links{
    .social{
      left: 30px !important;
      bottom: 50px !important;
      .svg-inline--fa {
        width: 30px !important;
        height: 30px !important;
      }
    }
    .link-navegator{
      span {
        font-size: 23px !important;
      }
    }
  }
}


@media (max-width: 1200px) {
  .nav-container {
    h1{
      font-size: 30px !important;
    }
    .avatar {
      width: 180px !important;
      height: 180px !important;
    }
    span {
      font-size: 25px !important;
    }
  }
}

@media (max-width: 1000px) {
  .nav-container{
    width: 100%;
  }
}
//HERE STARTS THE MOBILE VERSION

@media (max-width: 960px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
  }
  .profile-container {
    flex-direction: row-reverse !important;
    justify-content: space-evenly !important;
    margin-top: 20px !important;
    .avatar {
      position: absolute;
      left: 60px;
      top: 50px;
      width: 150px !important;
      height: 150px !important;
  }
  .name-container {
    h1 {
      font-size: 30px !important;
    }
    .dev-cont {
      flex-direction: row !important;
      h3 {
        font-size: 15px !important;
        margin-left: 15px !important;
      }
    }
  }
  }
  .link-navegator {
    flex-direction: row !important;
    justify-content: space-between !important;
    position: relative !important;
    bottom: 20px !important;
  }

  .links {
      margin-top: 50px !important;
      .social {
        position: relative !important;
        left: 0px !important;
        flex-direction: row !important;
        justify-content: center !important;
        .svg-inline--fa{
          width: 50px !important;
          height: 50px !important;
          margin: 10px 10px 10px 10px !important;
        }
    }
    .link-navegator {
      span {
        font-size: 20px !important;
        &:hover {
          padding: 0 !important;
        }
      }
    }
  }
}

@media  (max-width: 770px) {
  .profile-container {
    .avatar {
      left: 35px !important;
    }
  }
  .link-navegator {
      position: relative !important;
      bottom: 20px !important;
    .nav-button {
      span {
        font-size: 18px !important;
      }
    }
  }
}

@media  (max-width: 700px) {
  .profile-container {
    .name-container {
      h1 {
        font-size: 20px !important;
      }
    }
  }

  .links {
    .social{
      .svg-inline--fa {
        width: 40px !important;
        height: 40px !important;
      }
    }
  }
  .link-navegator {
    position: relative !important;
    bottom: 20px !important;
    .nav-button {
      span {
        font-size: 16px !important;
      }
    }
  }
}

@media (max-width: 650px) {
  .profile-container {
    .avatar {
      width: 110px !important;
      height: 110px !important;
      left: 60px !important;
    }
  }

  .link-navegator {
    position: relative !important;
    bottom: 20px !important;
    .nav-button {
      span {
        font-size: 14px !important;
      }
    }
  }
}

@media (max-width: 630px) {
  .nav-container {
    height: 280px !important;
  }
  .profile-container {
    .name-container {
      h1 {
        font-size: 20px !important;
      }
    }
  }

  .links {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    .social{
      margin-bottom: 0px !important;
      .svg-inline--fa {
        width: 37px !important;
        height: 37px !important;
      }
    }
  }
  .link-navegator {
    position: relative !important;
    bottom: 20px !important;
    .nav-button {
      span {
        font-size: 14px !important;
      }
    }
  }
}

@media (max-width: 600px) {
  .profile-container {
    .avatar {
      left: 45px !important;
      width: 100px !important;
      height: 100px !important;
    }
  }
  .links {
    .link-navegator {
      bottom: 30px !important;
    }
  }
}

@media (max-width: 550px) {
  .nav-container {
    height: 250px !important;
    .profile-container {
      .avatar {
        left: 35px !important;
        width: 100px !important;
        height: 100px !important;
      }
    }
    .links {
      .link-navegator {
        bottom: 50px !important;
        .nav-button {
          span {
            font-size: 13.5px !important;
            &:hover {
              padding: 10px !important;
            }
          }
        }
      }
      .social {
        .svg-inline--fa {
          width: 30px !important;
          height: 30px !important;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .profile-container {
    .avatar {
      left: 20px !important;
    }
  }
}

@media (max-width: 450px) {
  .nav-container {
    height: 230px !important;
    .profile-container {
      .name-container {
        h1 {
          font-size: 15px !important;
        }
        .dev-cont {
          h3 {
            font-size: 10px !important;
            margin-right: 0px !important;
            margin-left: 5px !important;
          }
        }
      }
      .avatar {
        left: 25px !important;
        width: 80px !important;
        height: 80px !important;
      }
    }
    .links {
      .social {
        position: relative !important;
        bottom: 50px !important;
        .svg-inline--fa {
          width: 25px !important;
          height: 25px !important;
        }
      }
      .link-navegator {
        .nav-button {
          span {
            font-size: 11px !important;
          }
        }
      }
    }
  }
}

@media(max-width: 400px) {
  .profile-container {
    .avatar {
      left: 15px !important;
    }
  }

  .nav-container{
    .links {
      .link-navegator {
        justify-content: center !important;
        .nav-button {
          height: 3rem !important;

          span {
            font-size: 10.5px !important;
          }
        }
      }
      .social {
        position: relative !important;
        bottom: 60px !important;
      }
    }
  }
}

@media(max-width: 387px) {
  .nav-container{
    .links {
      .link-navegator {
        .nav-button {
          span {
            font-size: 10px !important;
          }
        }
      }
    }
  }
}

@media(max-width: 370px) {
  .nav-container{
    .profile-container {
      .avatar {
        top: 20px !important
      }
    }
    .links {
      .social {
        position: relative !important;
        bottom: 60px !important;
      }
      .link-navegator {
        top: -50px !important;
        .nav-button {
          span {
            font-size: 9px !important;
          }
        }
      }
    }
  }
}

@media(max-width: 345px) {
  .nav-container{
    .profile-container {
      .avatar {
        height: 70px !important;
        width: 70px !important;
      }
    }
    .links {
      .link-navegator {
        .nav-button {
          span {
            font-size: 8.5px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 325px) {
  .nav-container {
    .profile-container {
      .avatar {
        top: 30px !important;
        height: 60px !important;
        width: 60px !important;
      }
    }

    .links {
      .link-navegator {
        .nav-button {
          span {
            font-size: 8.5px !important;
            &:hover {
              padding: 4px !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 300px) {
  .nav-container {
    .profile-container {
      .avatar {
        top: 35px !important;
        height: 50px !important;
        width: 50px !important;
      }
    }
  }
}

@media (max-width: 280px) {
  .nav-container {
    .profile-container {
      .avatar {
        display: none;
      }
    }
  }
}
