@import '../../index.scss';

.nav-container {
  height: 100vh;
  border: 2px solid white;
  display: flex;
  align-items: center;
  flex-direction: column;
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      margin-bottom: 0px;
      font-size: 35px;
    }
    .avatar {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: solid 2px white;
      img{
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}


@media (max-width: 1000px) {
  .nav-container{
    width: 100%;
  }
}
