@import './assets/styles/colors.scss';
@import './assets/styles/fonts.scss';
@import './assets/styles/buttons.scss';

* {
  margin: 0 !important;
  padding: 0 !important;
}
body {
  background-color: $black;
  margin: 0;
  h1,h2,h3,h4,h5,h6 {
    font-family: $bruno;
    color: $grey;
  }
  p {
    font-family: $share;
    color: $grey;
  }
}

@media(max-width: 960px) {
  body {
    &::before {
    content: '';
    position: absolute;
    background-color: #3b2179;
    height: 100vh;
    opacity: 40%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    }
  }
}
