@import './fonts.scss';

//general button styling, removing default design

button {
  background-color: transparent;
  color: $grey;
  font-family: $bruno ;
  border: white;
  cursor: pointer !important;
}

.button-download {
  position: relative;
  width: 280px;
  height: 60px;
  border: solid white 2px;
  border-radius: 30px;
  font-size: 25px;
  transition: 2ms;
  z-index: 1000000;
  &:hover{
    background-color: rgba(85, 21, 150, 0.5);
    color: $grey;
  }
}
